.header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-tertiary-light, 0.6),
        rgba($color-tertiary-dark, 0.7)), 
    url("../img/bg1.jpg");
    background-size: cover;
    background-position: top;
    overflow: hidden;

    //-webkit-clip-path: polygon(100% 0, 100% 78%, 69% 89%, 40% 86%, 0 100%, 0 0);
    //clip-path: polygon(100% 0, 100% 78%, 69% 89%, 40% 86%, 0 100%, 0 0);

    #curve {
        position: absolute;
        bottom: -2.8rem;
        width: 100%;

        path {
            fill: $color-white;
        }
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}